<footer class="container p-5">
  <div class="row px-3">
    <div class="col-sm-12 col-md-6 mb-2">
      <div class="list-group-flush">
        {{#each data.socials}}
        <a class="list-group-item list-group-item-action" href="{{this.href}}">{{this.title}}</a>
        {{/each}}
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet tortor maximus, pretium libero id, vehicula neque. Aliquam leo felis, commodo in libero eget, dignissim pulvinar est. Maecenas volutpat nisi viverra, molestie tortor id, dictum nisl. Donec lacus urna, congue ut tellus vel, maximus rhoncus ligula. Morbi varius eget elit quis posuere. </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center p-3 bg-light mt-5">
    <div class="col">
      {{#if data.footcopy}}
      <p class="text-center">&copy; <a class="text-info" href="{{data.footcopy.href}}">{{data.footcopy.title}}</a> {{data.footcopy.year}}</p>
      {{else}}
      <p class="text-center">&copy; <a class="text-info" href="#">anditakaesar</a> 2020</p>
      {{/if}}
    </div>
  </div>
</footer>